{% extends 'basic.html' %}

{% block title %}
{% if 'register' in request.query_params %}
Sign up
{% else %}
Sign in
{% endif %}
{% endblock title %}

{% block content %}
<div class="container col-9 col-lg-4 mt-5">
    <div id="account"></div>
</div>
<script defer>
    window.onload = function () {
        var default_view = "{{'register' in request.query_params}}" === 'True' ? 'register' : 'login';
        var invitation_required = "{{invitation_required}}" === 'True';
        laozy.account.createAccountComponent('account', default_view = default_view, invitation_required = invitation_required, next = "{{request.query_params['next']}}");
    }
</script>
{% endblock content %}