<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block title %}{% endblock title %}</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/static/css/default.css" rel="stylesheet">
    <script defer src="/static/js/main.laozy-9f3f03989a9d97f8a48d.js"></script>
    {% block html_head %} {% endblock html_head%}
</head>

<body>
    {% block content %}
    
    {% endblock content %}
</body>

</html>