<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Developer</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/static/css/default.css" rel="stylesheet">
    <script defer src="/static/js/main.laozy-097316e3e68ec15fb796.js"></script>
</head>

<body>
    <div id="developer"></div>
    <script defer>
        window.onload = function () {
            laozy.developer.createLaozy('developer');
            laozy.account.autoRefreshToken();
        }
    </script>
</body>

</html>