<!DOCTYPE >
<html data-bs-theme="light">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>TITLE</title>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/fontawesome/css/all.min.css'" rel="stylesheet">
<link href="/static/css/default.css'" rel="stylesheet">

</head>
<body>
Laozy
</body>
</html>